<!DOCTYPE html>
<html>
<head>
    <title>Angel Trinh </title>
</head>
<body>
  <h1> Welcome! This is Angel Trinh's About Me Page  </h1>

  <p> Find some of Angel's Github Projects below
 </p>
      <a href="https://github.com/angelica3010">Angel Trinh Github</a>
    <a href="https://github.com/angelica3010/hangman">Angel Trinh Hangman</a>
    <a href="https://github.com/angelica3010/nytreactsearch">Angel Trinh NY React Search</a>

   <p>
     <form id="like_btn" action="/about" method="POST">
       <button type="submit" name="index_like">Like Button</button>
       <p>
        Here is the amount of likes so far:  {{new_count}}
       </p>
     </form>
   </p>


</form>

</body>
</html>
