<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type='text/css' href="../static/stylesheets/style.css" />

    <title>Angel Trinh</title>
<!-- /*<style>
  html{
    font-family: fantasy;
  }
  h5{
  color: purple
    position: fixed;
  }
#first {
  background-color: yellow;

}

#second {
  background-color: red;

}

div.float{
  margin: 30px;
  position: relative
}

</style>*/ -->

</head>
<body>
<div>


    <h5>Angel Trinh Photos</h5>
    <div class ="float">

    <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/1604467_10152196070866215_1810615330_n.jpg?oh=1ec3147b3a6da5877cbe29a4b604d4f1&oe=5A7417E0">
    </div>

<div id ="first">
  This is another photo
  <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/18301439_10155129279281215_1081203471137198896_n.jpg?oh=56d6b43fae64b59cce11f2ee2ff2053b&oe=5A6443D7">
</div>

<div id ="second">
  <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/12747_10152820460941215_2791870019905263042_n.jpg?oh=f25dcf7bdf05305437d80ce3b920a8ef&oe=5A714D70">
</div>

<div class ="float">


<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/11174815_10153213935746215_6144144831453685043_n.jpg?oh=aad074dddd3fb2816497b098dff05da7&oe=5AAC77C4">
</div>
    <a href="/about">Angel Trinh About Me</a>
      <a href="https://github.com/angelica3010">Angel Trinh Github </a>

      <p>
        <form id="homebtn" action="/about" method="POST">
          <button type="submit" name="photos_page">Go to my AboutMe</button>
          <p class ="class3">
           Traveling is so much fun.
          </p>
        </form>
      </p>

      <table>
          {% for i in messages%}
        <tr>
      		<td>

            {{i.name}} said: {{i.message}}
          </td>
      	</tr>
  {% endfor %}
      </table>



      <h3> Post a message for world to see: </h3>

      <form method="POST" action="/photos">
      	<input type="text" name="name" placeholder="Your Name"> <br> <br>
      	<textarea name='message' placeholder="Your message "></textarea> <br> <br>
      	<button>Post</button>
      </form>

</body>
</html>
